@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
  font-family: -apple-system, 'Inter', sans-serif;
}

:root {
  --body-bg: #FFFFFF;
  --card-bg: #FFFFFF;
  --card-bd-col: #bdbdbd;
  --text-color: #252525;
  --shadow-color: #b3aeae;
}

.dark_mode {
  --body-bg: #1A1A1A;
  --card-bg: #555;
  --card-bd-col: #1A1A1A;
  --text-color: #f5f5f5;
  --shadow-color: rgb(245, 245, 245, 0.2);
}

body {
  background: var(--body-bg);
}

header {
  z-index: 2;
}

header .logo {
  width: 180px;
}

section {
  border-color: transparent;
}

.welcome h1 {
  color: #4D6F80;
}

@media (min-width: 769px) {}

@media (max-width: 768px) {
  .header-img img {
    position: absolute;
  }
}